{% extends 'index.html' %}

{% block title %}To-Do{% endblock title %}


{% block content %}

{% if perform_tomorrow_list|length %}
{% for t in perform_tomorrow_list %}
<div class="accordion mb-2" id="accordion_perform_today">
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading{{ t.id }}">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ t.id }}" aria-expanded="true" aria-controls="collapse{{ t.id }}">
                Приоритет: {{ t.priority }} - {{ t.title }} - {{ t.category }}
            </button>
        </h2>
        <div id="collapse{{ t.id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ t.id }}" data-bs-parent="#accordion_perform_today">
            <div class="accordion-body">
                Описание: {{ t.text }}<br>
                Срок: {{ t.date_finish|date:'d.m.Y' }}  {{ t.time_finish|time:'H:i' }}  <br>
                <a class="btn btn-primary" href="{% url 'subtask_create' t.id %}" role="button">+</a>
                <a class="btn btn-primary" href="{% url 'complete' t.id %}" role="button">Complete</a>
                <a class="btn btn-primary" href="{% url 'task_edit' t.id %}" role="button">Edit</a>
                <a class="btn btn-primary" href="{% url 'task_delete' t.id %}" role="button">Delete</a>
                {% for st in t.subtask_set.all %}
                <br>{{ st }}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}
{% endblock content %}