{% extends 'template.html' %}

{% block title %}To-Do{% endblock title %}

{% block navigation %}
    <li class="nav-item"><a class="nav-link" href="{% url 'task_create' %}">New Task</a></li>
{% endblock navigation %}


{% block content %}
{% if not perform_yesterday|length and not perform_today|length and not perform_tomorrow|length and not perform_not_date|length and not completed|length %}
У вас еще нет задач. Создайте свою первую <a href="{% url 'task_create' %}">задачу</a>
{% endif %}

{% if perform_yesterday|length %}
<h3>Просроченные задачи:</h3>
{% for t in perform_yesterday %}
<div class="accordion mb-2" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading{{ t.id }}">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ t.id }}" aria-expanded="true" aria-controls="collapse{{ t.id }}">
        Приоритет: {{ t.priority }} - {{ t.category }} - {{ t.title }}
      </button>
    </h2>
    <div id="collapse{{ t.id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ t.id }}" data-bs-parent="#accordionExample">
      <div class="accordion-body">
          Описание: {{ t.text }}<br>
          Срок: {{ t.date_finish|date:'d.m.Y' }}  {{ t.time_finish|time:'H:i' }}  <br>
          <a href="{% url 'complete' t.id %}">Complete</a>
          <a href="{% url 'task_edit' t.id %}">Edit</a>
          <a href="{% url 'task_delete' t.id %}">Delete</a>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endif %}


{% if perform_today|length %}
<h3>Задачи на сегодня:</h3>
{% for t in perform_today %}
<div class="accordion mb-2" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading{{ t.id }}">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ t.id }}" aria-expanded="true" aria-controls="collapse{{ t.id }}">
        Приоритет: {{ t.priority }} - {{ t.category }} - {{ t.title }}
      </button>
    </h2>
    <div id="collapse{{ t.id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ t.id }}" data-bs-parent="#accordionExample">
      <div class="accordion-body">
          Описание: {{ t.text }}<br>
          Срок: {{ t.date_finish|date:'d.m.Y' }}  {{ t.time_finish|time:'H:i' }}  <br>
          <a href="{% url 'complete' t.id %}">Complete</a>
          <a href="{% url 'task_edit' t.id %}">Edit</a>
          <a href="{% url 'task_delete' t.id %}">Delete</a>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endif %}


{% if perform_tomorrow|length %}
<h3>Задачи к выполнению завтра:</h3>
{% for t in perform_tomorrow %}
<div class="accordion mb-2" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading{{ t.id }}">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ t.id }}" aria-expanded="true" aria-controls="collapse{{ t.id }}">
        Приоритет: {{ t.priority }} - {{ t.category }} - {{ t.title }}
      </button>
    </h2>
    <div id="collapse{{ t.id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ t.id }}" data-bs-parent="#accordionExample">
      <div class="accordion-body">
          Описание: {{ t.text }}<br>
          Срок: {{ t.date_finish|date:'d.m.Y' }}  {{ t.time_finish|time:'H:i' }}  <br>
          <a href="{% url 'complete' t.id %}">Complete</a>
          <a href="{% url 'task_edit' t.id %}">Edit</a>
          <a href="{% url 'task_delete' t.id %}">Delete</a>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endif %}


{% if perform_not_date|length %}
<h3>Задачи без срока:</h3>
{% for t in perform_not_date %}
<div class="accordion mb-2" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading{{ t.id }}">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ t.id }}" aria-expanded="true" aria-controls="collapse{{ t.id }}">
        Приоритет: {{ t.priority }} - {{ t.category }} - {{ t.title }}
      </button>
    </h2>
    <div id="collapse{{ t.id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ t.id }}" data-bs-parent="#accordionExample">
      <div class="accordion-body">
          Описание: {{ t.text }}<br>
          Срок: {{ t.date_finish|date:'d.m.Y' }}  {{ t.time_finish|time:'H:i' }}  <br>
          <a href="{% url 'complete' t.id %}">Complete</a>
          <a href="{% url 'task_edit' t.id %}">Edit</a>
          <a href="{% url 'task_delete' t.id %}">Delete</a>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endif %}


{% if completed|length %}
<h3>Выполненные задачи:</h3>
{% for t in completed %}
<div class="accordion mb-2" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading{{ t.id }}">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ t.id }}" aria-expanded="true" aria-controls="collapse{{ t.id }}">
        Приоритет: {{ t.priority }} - {{ t.category }} - {{ t.title }}
      </button>
    </h2>
    <div id="collapse{{ t.id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ t.id }}" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          Описание: {{ t.text }}<br>
        </div>
    </div>
  </div>
</div>
{% endfor %}
{% endif %}
{% endblock content %}